.menu-enabled, .menu-disabled {
    width: 250px;
    height: 100vh;
    background-color: #262D34;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    transition: all ease 0.2s;
    z-index: 2;
}

.menu-enabled {
    right: 0;
}

.menu-disabled {
    width: 250px;
    height: 100vh;
    background-color: #262D34;
    position: fixed;
    top: 0;
    right: -250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    transition: all ease 0.2s;
    z-index: 2;
}

.cross {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 16px;
    left: 16px;
    background-image: url('../../../assets/cross.svg');
    cursor: pointer;
    transition: all ease 0.2s;
}

.cross:hover {
    scale: 1.01;
    transition: all ease 0.2s;
}